@charset "UTF-8";

/* タブメニュー */
/* ノーマル状態 */
.tabMenu{
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	padding: 0 20px;
	border-bottom:solid 2px #E3E7E8;
}
.tabMenu li{ margin:33px 10px 0; }
.tabMenu li a{
  display: inline-table;
	color:#3A98D7;
	padding:7px 20px;
	background:#F7F9FA;
	border:solid 1px #E3E7E8;
	border-bottom: 0;
  
}
/* 選択された状態 */
.tabMenu .active a{
	color:#FFFFFF;
	background:#5295D5;
}

/* ボタン */
.jsbtn_conts{
	color:#3A98D7;
	margin:33px 10px 0;
	padding:7px 20px;
	background:#F7F9FA;
	border:solid 1px #E3E7E8;
}
.jsbtn_header{
	color:#3A98D7;
	margin:0px 10px;
	padding:7px 20px;
	background:#F7F9FA;
	border:solid 1px #E3E7E8;
}
.jsbtn_over{
	background:#CBD6DC;
}

/* プルダウンメニュー */
.jsselect_header{
	color:#3A98D7;
	margin:0px 10px;
	padding:7px 20px;
	background:#F7F9FA;
	border:solid 1px #E3E7E8;
}